.nq-prose {
  h1:not(.vp-raw *) {
    --font-size-min: 32;
    --font-size-max: 40;
    margin-bottom: 1.5rem;

    &:has(+ p) {
      margin-bottom: 0rem;
    }

    + p {
      font-size: 1.25em;
      margin-bottom: 2.75rem;
      line-height: 1.2;
      color: rgba(var(--nq-neutral-800));
    }
  }

  h2:not(.vp-raw *) {
    --font-size-min: 28;
    --font-size-max: 32;
    margin-bottom: 1rem;
    margin-top: 3rem;
    font-weight: 600;
  }

  h3:not(.vp-raw *) {
    --font-size-min: 20;
    --font-size-max: 24;
    margin-bottom: 1rem;
    margin-top: 2.5rem;
    font-weight: 600;
  }

  h4:not(.vp-raw *) {
    --font-size-min: 16;
    --font-size-max: 20;
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-weight: 600;
  }
}
