/*
This file contains atomic CSS classes for styling elements. These classes are very powerful for applying styles, but are only available when using CSS directly. If you're using a library with plugin integration, such as TailwindCSS or UnoCSS, you'll need to use the classes provided by those libraries.
*/

.flex-grow {
  flex-grow: 1;
}

.flex-grow-half {
  flex-grow: 0.5;
}

.flex-grow-double {
  flex-grow: 2;
}

.hidden {
  visibility: hidden;
}

.display-none {
  display: none;
}

.margin-top-5 {
  margin-top: 2.5rem;
}

.margin-top-4 {
  margin-top: 2rem;
}

.margin-top-3 {
  margin-top: 1.5rem;
}

.margin-top-2 {
  margin-top: 1rem;
}

.margin-top-1 {
  margin-top: 0.5rem;
}

.text-green {
  color: var(--nq-green);
}

.text-orange {
  color: var(--nq-orange);
}

.text-red {
  color: var(--nq-red);
}

.text-blue {
  color: var(--nq-blue);
}

.text-gold {
  color: var(--nq-gold);
}

.text-neutral {
  color: var(--nq-neutral);
}

.bg-neutral-gradient {
  background: var(--nq-neutral);
  background-image: var(--nq-gradient-neutral);
}

.bg-neutral-50 {
  background: var(--nq-neutral-50);
}

.bg-neutral-100 {
  background: var(--nq-neutral-100);
}

.bg-neutral-200 {
  background: var(--nq-neutral-200);
}

.bg-neutral-300 {
  background: var(--nq-neutral-300);
}

.bg-neutral-400 {
  background: var(--nq-neutral-400);
}

.bg-neutral-500 {
  background: var(--nq-neutral-500);
}

.bg-neutral-600 {
  background: var(--nq-neutral-600);
}

.bg-neutral-700 {
  background: var(--nq-neutral-700);
}

.bg-neutral-800 {
  background: var(--nq-neutral-800);
}

.bg-neutral-900 {
  background: var(--nq-neutral-900);
}

.bg-neutral-1100 {
  background: var(--nq-neutral-1100);
}

.bg-green {
  background: var(--nq-green);
}

.bg-gold {
  background: var(--nq-gold);
}

.bg-blue {
  background: var(--nq-blue);
}

.bg-red {
  background: var(--nq-red);
}

.bg-purple {
  background: var(--nq-purple);
}

.bg-orange {
  background: var(--nq-orange);
}

.nq-shadow {
  box-shadow: var(--nq-shadow);
}

.nq-shadow-lg {
  box-shadow: var(--nq-shadow-lg);
}
