:root {
  /* Background gradients */

  /* Legacy colors */
  /* --nimiq-light-blue-bg: radial-gradient(100% 100% at bottom right, #265DD7, var(--nimiq-light-blue));
  --nimiq-gold-bg: radial-gradient(100% 100% at bottom right, #EC991C, var(--nimiq-gold));
  --nimiq-green-bg: radial-gradient(100% 100% at bottom right, #41A38E, var(--nimiq-green));
  --nimiq-orange-bg: radial-gradient(100% 100% at bottom right, #FD6216, var(--nimiq-orange));
  --nimiq-red-bg: radial-gradient(100% 100% at bottom right, #CC3047, var(--nimiq-red));
  --nimiq-purple-bg: radial-gradient(100% 100% at bottom right, #4D4C96, var(--nimiq-purple));
  --nimiq-pink-bg: radial-gradient(100% 100% at bottom right, #E0516B, var(--nimiq-pink));
  --nimiq-light-green-bg: radial-gradient(100% 100% at bottom right, #70B069, var(--nimiq-light-green));
  --nimiq-brown-bg: radial-gradient(100% 100% at bottom right, #724147, var(--nimiq-brown)); */


  /* Background gradients darkened (hover states) */
  /* --nimiq-light-blue-bg-darkened: radial-gradient(100% 100% at bottom right, #2355C4, var(--nimiq-light-blue-darkened));
  --nimiq-gold-bg-darkened: radial-gradient(100% 100% at bottom right, #E58A1B, var(--nimiq-gold-darkened));
  --nimiq-green-bg-darkened: radial-gradient(100% 100% at bottom right, #3D9988, var(--nimiq-green-darkened));
  --nimiq-orange-bg-darkened: radial-gradient(100% 100% at bottom right, #EA5200, var(--nimiq-orange-darkened));
  --nimiq-red-bg-darkened: radial-gradient(100% 100% at bottom right, #BF2D46, var(--nimiq-red-darkened)); */
  
  --nq-darkblue: 31 35 72;
  --nq-darkerblue: 23 24 43;
  --nq-white: 255 255 255;
  --nq-blue-s3: #2c72c7;

  --nq-neutral-on-light: var(--nq-darkblue);
  --nq-neutral-on-light-0: var(--nq-white);
  --nq-neutral-on-light-50: 251 251 251;
  --nq-neutral-on-light-100: 248 248 248;
  --nq-neutral-on-light-200: 244 244 246;
  --nq-neutral-on-light-300: 238 238 241;
  --nq-neutral-on-light-400: 228 228 233;
  --nq-neutral-on-light-500: 210 211 218;
  --nq-neutral-on-light-600: 199 200 209;
  --nq-neutral-on-light-700: 143 145 164;
  --nq-neutral-on-light-800: 121 123 145;
  --nq-neutral-on-light-900: 76 79 109;
  --nq-neutral-on-dark: var(--nq-white);
  --nq-neutral-on-dark-0: var(--nq-darkerblue);
  --nq-neutral-on-dark-50: 28 29 47;
  --nq-neutral-on-dark-100: 30 31 49;
  --nq-neutral-on-dark-200: 35 36 54;
  --nq-neutral-on-dark-300: 39 40 58;
  --nq-neutral-on-dark-400: 46 47 64;
  --nq-neutral-on-dark-500: 69 70 85;
  --nq-neutral-on-dark-600: 81 82 96;
  --nq-neutral-on-dark-700: 139 139 149;
  --nq-neutral-on-dark-800: 162 163 170;
  --nq-neutral-on-dark-900: 209 209 213;
  --nq-neutral-on-light-gradient: radial-gradient(100% 100% at 100% 100%, #260133 0%, var(--nq-darkblue) 100%);
  --nq-neutral-on-dark-gradient: radial-gradient(100% 100% at bottom right, #180021, #151833);
  --_nq-neutral-subtle-gradient: linear-gradient(180deg, #ebebed 0%, #e1e1e5 100%);

  --nq-blue-on-light: 5 130 202;
  --nq-blue-on-light-400: 230 242 250;
  --nq-blue-on-light-500: 205 230 244;
  --nq-blue-on-light-600: 191 224 242;
  --nq-blue-on-light-1100: 4 99 154;
  --nq-blue-on-dark: 12 166 254;
  --nq-blue-on-dark-400: 22 39 64;
  --nq-blue-on-dark-500: 20 52 85;
  --nq-blue-on-dark-600: 20 60 96;
  --nq-blue-on-dark-1100: 12 166 254;
  --nq-blue-on-light-gradient: radial-gradient(100% 100% at bottom right, #265DD7, rgb(var(--nq-blue-on-light)));
  --nq-blue-on-light-gradient-darkened: radial-gradient(100% 100% at bottom right, #2355C4, #0071C3);
  --nq-blue-on-dark-gradient: radial-gradient(100% 100% at 100% 100%, #0b7ff2 0%, #0ca6fe 100%);
  --nq-blue-on-dark-gradient-darkened: radial-gradient(100% 100% at 100% 100%, #0d77e1 0%, #0e98e9 100%);

  --nq-green-on-light: 19 181 157;
  --nq-green-on-light-400: 231 247 245;
  --nq-green-on-light-500: 208 240 235;
  --nq-green-on-light-600: 196 237 231;
  --nq-green-on-light-1100: 14 134 116;
  --nq-green-on-dark: 36 204 162;
  --nq-green-on-dark-400: 25 42 55;
  --nq-green-on-dark-500: 25 60 66;
  --nq-green-on-dark-600: 26 69 73;
  --nq-green-on-dark-1100: 36 204 162;
  --nq-green-on-light-gradient: radial-gradient(100% 100% at bottom right, #41A38E, rgb(var(--nq-green-on-light)));
  --nq-green-on-light-gradient-darkened: radial-gradient(100% 100% at bottom right, #3D9988, #20B29E);
  --nq-green-on-dark-gradient: radial-gradient(100% 100% at 100% 100%, #00bf90 0%, #24cca2 100%);
  --nq-green-on-dark-gradient-darkened: radial-gradient(100% 100% at 100% 100%, #00bf90 0%, #23b792 100%);

  --nq-orange-on-light: 252 135 2;
  --nq-orange-on-light-400: 248 237 223;
  --nq-orange-on-light-500: 254 231 204;
  --nq-orange-on-light-600: 254 225 191;
  --nq-orange-on-light-1100: 224 120 2;
  --nq-orange-on-dark: 255 153 0;
  --nq-orange-on-dark-400: 46 37 39;
  --nq-orange-on-dark-500: 69 50 34;
  --nq-orange-on-dark-600: 81 56 32;
  --nq-orange-on-dark-1100: 255 153 0;
  --nq-orange-on-light-gradient: radial-gradient(100% 100% at bottom right, #FD6216, rgb(var(--nq-orange-on-light)));
  --nq-orange-on-light-gradient-darkened: radial-gradient(100% 100% at bottom right, #EA5200, #FC7500);
  --nq-orange-on-dark-gradient: radial-gradient(100% 100% at 100% 100%, #ff8800 0%, #ff9900 100%);
  --nq-orange-on-dark-gradient-darkened: radial-gradient(100% 100% at 100% 100%, #ff8800 0%, #f29202 100%);

  --nq-red-on-light: 217 68 50;
  --nq-red-on-light-400: 251 236 234;
  --nq-red-on-light-500: 247 218 214;
  --nq-red-on-light-600: 245 208 204;
  --nq-red-on-light-1100: 181 49 33;
  --nq-red-on-dark: 255 92 72;
  --nq-red-on-dark-400: 47 31 46;
  --nq-red-on-dark-500: 69 37 48;
  --nq-red-on-dark-600: 81 41 50;
  --nq-red-on-dark-1100: 255 92 72;
  --nq-red-on-light-gradient: radial-gradient(100% 100% at bottom right, #CC3047, rgb(var(--nq-red-on-light)));
  --nq-red-on-light-gradient-darkened: radial-gradient(100% 100% at 100% 100%, #BF2D46 0%, #D13030 100%);
  --nq-red-on-dark-gradient: radial-gradient(100% 100% at 100% 100%, #ff391f 0%, #ff5c48 100%);
  --nq-red-on-dark-gradient-darkened: radial-gradient(100% 100% at 100% 100%, #ff391f 0%, #ef5c48 100%);

  --nq-gold-on-light: 233 178 19;
  --nq-gold-on-light-400: 253 247 231;
  --nq-gold-on-light-500: 251 240 208;
  --nq-gold-on-light-600: 249 236 196;
  --nq-gold-on-light-1100: 184 140 15;
  --nq-gold-on-dark: 255 196 59;
  --nq-gold-on-dark-400: 47 42 45;
  --nq-gold-on-dark-500: 69 58 46;
  --nq-gold-on-dark-600: 81 67 47;
  --nq-gold-on-dark-1100: 255 196 59;
  --nq-gold-on-light-gradient-darkened: radial-gradient(100% 100% at bottom right, #EC991C, rgb(var(--nq-gold-on-light)));
  --nq-gold-on-light-gradient-darkened: radial-gradient(100% 100% at bottom right, #E58A1B, #E5A212);
  --nq-gold-on-light-gradient-darkened: radial-gradient(100% 100% at 100% 100%, #ec991c 0%, rgb(var(--nq-gold-on-light-1100)) 100%);
  --nq-gold-on-dark-gradient: radial-gradient(100% 100% at 100% 100%, #ffb13b 0%, #ffc43b 100%);
  --nq-gold-on-dark-gradient-darkened: radial-gradient(100% 100% at 100% 100%, #ffb13b 0%, #f3bb3b 100%);

  --nq-purple-on-light: 95 75 139;
  --nq-purple-on-light-400: 239 237 243;
  --nq-purple-on-light-500: 223 219 232;
  --nq-purple-on-light-600: 215 210 226;
  --nq-purple-on-light-1100: 72 57 106;
  --nq-purple-on-dark: 143 63 213;
  --nq-purple-on-dark-400: 35 28 60;
  --nq-purple-on-dark-500: 47 32 77;
  --nq-purple-on-dark-600: 53 34 85;
  --nq-purple-on-dark-1100: 143 63 213;

  --nq-neutral: var(--nq-neutral-on-light);
  --nq-neutral-0: var(--nq-neutral-on-light-0);
  --nq-neutral-50: var(--nq-neutral-on-light-50);
  --nq-neutral-100: var(--nq-neutral-on-light-100);
  --nq-neutral-200: var(--nq-neutral-on-light-200);
  --nq-neutral-300: var(--nq-neutral-on-light-300);
  --nq-neutral-400: var(--nq-neutral-on-light-400);
  --nq-neutral-500: var(--nq-neutral-on-light-500);
  --nq-neutral-600: var(--nq-neutral-on-light-600);
  --nq-neutral-700: var(--nq-neutral-on-light-700);
  --nq-neutral-800: var(--nq-neutral-on-light-800);
  --nq-neutral-900: var(--nq-neutral-on-light-900);
  --nq-neutral-1100: var(--nq-neutral-on-light-1100);
  --nq-neutral-gradient: var(--nq-neutral-on-light-gradient);
  --nq-neutral-subtle-gradient: var(--_nq-neutral-subtle-gradient);

  --nq-blue: var(--nq-blue-on-light);
  --nq-blue-400: var(--nq-blue-on-light-400);
  --nq-blue-500: var(--nq-blue-on-light-500);
  --nq-blue-600: var(--nq-blue-on-light-600);
  --nq-blue-1100: var(--nq-blue-on-light-1100);
  --nq-blue-gradient: var(--nq-blue-on-light-gradient);
  --nq-blue-gradient-darkened: var(--nq-blue-on-light-gradient-darkened);

  --nq-green: var(--nq-green-on-light);
  --nq-green-400: var(--nq-green-on-light-400);
  --nq-green-500: var(--nq-green-on-light-500);
  --nq-green-600: var(--nq-green-on-light-600);
  --nq-green-1100: var(--nq-green-on-light-1100);
  --nq-green-gradient: var(--nq-green-on-light-gradient);
  --nq-green-gradient-darkened: var(--nq-green-on-light-gradient-darkened);

  --nq-orange: var(--nq-orange-on-light);
  --nq-orange-400: var(--nq-orange-on-light-400);
  --nq-orange-500: var(--nq-orange-on-light-500);
  --nq-orange-600: var(--nq-orange-on-light-600);
  --nq-orange-1100: var(--nq-orange-on-light-1100);
  --nq-orange-gradient: var(--nq-orange-on-light-gradient);
  --nq-orange-gradient-darkened: var(--nq-orange-on-light-gradient-darkened);

  --nq-red: var(--nq-red-on-light);
  --nq-red-400: var(--nq-red-on-light-400);
  --nq-red-500: var(--nq-red-on-light-500);
  --nq-red-600: var(--nq-red-on-light-600);
  --nq-red-1100: var(--nq-red-on-light-1100);
  --nq-red-gradient: var(--nq-red-on-light-gradient);
  --nq-red-gradient-darkened: var(--nq-red-on-light-gradient-darkened);

  --nq-gold: var(--nq-gold-on-light);
  --nq-gold-400: var(--nq-gold-on-light-400);
  --nq-gold-500: var(--nq-gold-on-light-500);
  --nq-gold-600: var(--nq-gold-on-light-600);
  --nq-gold-1100: var(--nq-gold-on-light-1100);
  --nq-gold-gradient: var(--nq-gold-on-light-gradient);
  --nq-gold-gradient-darkened: var(--nq-gold-on-light-gradient-darkened);

  --nq-purple: var(--nq-purple-on-light);
  --nq-purple-400: var(--nq-purple-on-light-400);
  --nq-purple-500: var(--nq-purple-on-light-500);
  --nq-purple-600: var(--nq-purple-on-light-600);



  :is(&.dark, & .dark, &.bg-darkblue, & .bg-darkblue, &[bg-neutral], & [bg-neutral]) {
    --nq-neutral: var(--nq-neutral-on-dark);
    --nq-neutral-0: var(--nq-neutral-on-dark-0);
    --nq-neutral-50: var(--nq-neutral-on-dark-50);
    --nq-neutral-100: var(--nq-neutral-on-dark-100);
    --nq-neutral-200: var(--nq-neutral-on-dark-200);
    --nq-neutral-300: var(--nq-neutral-on-dark-300);
    --nq-neutral-400: var(--nq-neutral-on-dark-400);
    --nq-neutral-500: var(--nq-neutral-on-dark-500);
    --nq-neutral-600: var(--nq-neutral-on-dark-600);
    --nq-neutral-700: var(--nq-neutral-on-dark-700);
    --nq-neutral-800: var(--nq-neutral-on-dark-800);
    --nq-neutral-900: var(--nq-neutral-on-dark-900);
    --nq-neutral-1100: var(--nq-neutral-on-dark-1100);
    --nq-neutral-gradient: var(--nq-neutral-on-dark-gradient);

    --nq-blue: var(--nq-blue-on-dark);
    --nq-blue-400: var(--nq-blue-on-dark-400);
    --nq-blue-500: var(--nq-blue-on-dark-500);
    --nq-blue-600: var(--nq-blue-on-dark-600);
    --nq-blue-1100: var(--nq-blue-on-dark-1100);
    --nq-blue-gradient: var(--nq-blue-on-dark-gradient);
    --nq-blue-gradient-darkened: var(--nq-blue-on-dark-gradient-darkened);

    --nq-green: var(--nq-green-on-dark);
    --nq-green-400: var(--nq-green-on-dark-400);
    --nq-green-500: var(--nq-green-on-dark-500);
    --nq-green-600: var(--nq-green-on-dark-600);
    --nq-green-1100: var(--nq-green-on-dark-1100);
    --nq-green-gradient: var(--nq-green-on-dark-gradient);
    --nq-green-gradient-darkened: var(--nq-green-on-dark-gradient-darkened);

    --nq-orange: var(--nq-orange-on-dark);
    --nq-orange-400: var(--nq-orange-on-dark-400);
    --nq-orange-500: var(--nq-orange-on-dark-500);
    --nq-orange-600: var(--nq-orange-on-dark-600);
    --nq-orange-1100: var(--nq-orange-on-dark-1100);
    --nq-orange-gradient: var(--nq-orange-on-dark-gradient);
    --nq-orange-gradient-darkened: var(--nq-orange-on-dark-gradient-darkened);

    --nq-red: var(--nq-red-on-dark);
    --nq-red-400: var(--nq-red-on-dark-400);
    --nq-red-500: var(--nq-red-on-dark-500);
    --nq-red-600: var(--nq-red-on-dark-600);
    --nq-red-1100: var(--nq-red-on-dark-1100);
    --nq-red-gradient: var(--nq-red-on-dark-gradient);
    --nq-red-gradient-darkened: var(--nq-red-on-dark-gradient-darkened);

    --nq-gold: var(--nq-gold-on-dark);
    --nq-gold-400: var(--nq-gold-on-dark-400);
    --nq-gold-500: var(--nq-gold-on-dark-500);
    --nq-gold-600: var(--nq-gold-on-dark-600);
    --nq-gold-1100: var(--nq-gold-on-dark-1100);
    --nq-gold-gradient: var(--nq-gold-on-dark-gradient);
    --nq-gold-gradient-darkened: var(--nq-gold-on-dark-gradient-darkened);

    --nq-purple: var(--nq-purple-on-dark);
    --nq-purple-400: var(--nq-purple-on-dark-400);
    --nq-purple-500: var(--nq-purple-on-dark-500);
    --nq-purple-600: var(--nq-purple-on-dark-600);
    --nq-purple-1100: var(--nq-purple-on-dark-1100);
  }
}
