.subline {
  font-size: 1.375rem;
  line-height: 1.2;
  margin-top: 20px;

  @media (min-width: 769px) {
    font-size: 1.5rem;
    margin-top: 24px;
  }
}

.arrow, .arrow-back {
  &:not(:is(.arrow-back,[arrow-back]))::after,
  &:is(.arrow-back,[arrow-back])::before {
    content: '';
    position: relative;
    display: inline-block;
    --nq-icon: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMTIgMTIiPjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iY3VycmVudENvbG9yIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTQuNjY2IDEwIDEgNmwzLjY2Ny00TTIuNjE5IDZIMTEiLz48L3N2Zz4=");
    -webkit-mask: var(--nq-icon) no-repeat;
    mask: var(--nq-icon) no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    background-color: currentColor;
    color: inherit;
    width: 0.7em;
    height: 0.7em;
    transition: transform 0.2s var(--nq-ease, ease-out);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: inherit;
  }
  
  &[href^="http"]::after {
    margin-right: 0.5em;
    margin-left: 0.5em;
    rotate: 0.375turn;
  }

  &:not(:is(.arrow-back,[arrow-back])):is(&[href^='/'], &[href^='./'], &[href^='../'], &[href^='#'])::after {
    margin-left: 0.5em;
    margin-bottom: 1px;
    rotate: -0.5turn;
  }
  
  &:is(.arrow-back,[arrow-back]):is(&[href^='/'], &[href^='./'], &[href^='../'], &[href^='#'])::before {
    margin-right: 0.5em;
    margin-bottom: 1px;
  }
  
  &:hover::after, &:hover::before {
    transform: translateX(-.25em);
    transition-delay: 100ms;
  }
}

.pill {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  color: white;
  line-height: 1;
  height: max-content;
  width: max-content;
  transition: background 0.2s var(--nq-ease, ease-out);

  &:is(.small, [small]) {
    font-size: 18px;
    padding: 8px 16px;
  }
}

.pill-blue {
  background: var(--nq-blue-gradient);

  &:hover, &:focus {
    background: var(--nq-blue-gradient-darkened);
  }
}

.pill-green {
  background: var(--nq-green-gradient);

  &:hover, &:focus {
    background: var(--nq-green-gradient-darkened);
  }
}

.pill-red {
  background: var(--nq-red-gradient);

  &:hover, &:focus {
    background: var(--nq-red-gradient-darkened);
  }
}

.pill-gold {
  background: var(--nq-gold-gradient);

  &:hover, &:focus {
    background: var(--nq-gold-gradient-darkened);
  }
}

.pill-orange {
  background: var(--nq-orange-gradient);

  &:hover, &:focus {
    background: var(--nq-orange-gradient-darkened);
  }
}

.pill-secondary {
  background: rgb(var(--nq-neutral-300));
  color: rgb(var(--nq-neutral));

  &:hover, &:focus {
    background: rgb(var(--nq-neutral-400));
  }
}

.pill-tertiary {
  box-shadow: 0 0 0 1.5px rgb(var(--nq-neutral-500));
  color: rgb(var(--nq-neutral));

  &:hover, &:focus {
    background-color: rgb(var(--nq-neutral-100));
  }
}
