@import url('./fluid-typography.css');

.nq-text-3xs {
  --nq-font-size-min: 9;
  --nq-font-size-max: 11;
  font-size: var(--nq-font-size);
}

.nq-text-2xs {
  --nq-font-size-min: 10;
  --nq-font-size-max: 12;
  font-size: var(--nq-font-size);
}

.nq-text-xs {
  --nq-font-size-min: 12;
  --nq-font-size-max: 14;
  font-size: var(--nq-font-size);
}

.nq-text-sm {
  --nq-font-size-min: 14;
  --nq-font-size-max: 16;
  font-size: var(--nq-font-size);
}

.nq-text-md {
  --nq-font-size-min: 16;
  --nq-font-size-max: 16;
  font-size: var(--nq-font-size);
}

.nq-text-lg {
  --nq-font-size-min: 16;
  --nq-font-size-max: 18;
  font-size: var(--nq-font-size);
}

.nq-text-xl {
  --nq-font-size-min: 18;
  --nq-font-size-max: 22;
  font-size: var(--nq-font-size);
}

.nq-text-2xl {
  --nq-font-size-min: 22;
  --nq-font-size-max: 26;
  font-size: var(--nq-font-size);
}

.nq-text-3xl {
  --nq-font-size-min: 26;
  --nq-font-size-max: 32;
  font-size: var(--nq-font-size);
}

.nq-text-4xl {
  --nq-font-size-min: 32;
  --nq-font-size-max: 44;
  font-size: var(--nq-font-size);
}