:root {
  --nq-ease: cubic-bezier(0.25, 0, 0, 1);
  --nq-shadow: 0px 18px 38px rgba(31 35 72 / 0.07), 0px 7px 8.5px rgba(31 35 72 / 0.04), 0px 2px 2.5px rgba(31 35 72 / 0.02);
  --nq-shadow-lg: 0px 6px 20px rgba(59 76 106 / 0.13), 0px 1.34018px 4.46726px rgba(59 76 106 / 0.0774939), 0px 0.399006px 1.33002px rgba(59 76 106 / 0.0525061);
  --track: rgb(var(--nq-neutral-200));
  --thumb: rgb(var(--nq-neutral-600));
}

*:not(:where(.raw, .raw *)) {
  text-align: left;
  letter-spacing: 0;
  border-color: rgb(var(--nq-neutral-400));
  outline-color: rgb(var(--nq-blue));
  outline-width: 0;

  &:is(:not(:where(code, pre))) {
    font-family: Mulish, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  }

  &:is(code, pre, pre *, code *) {
    font-family: "Fira Code", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }

  &:is(body) {
    min-height: 100vh;
    min-height: 100dvh;
    color: rgb(var(--nq-neutral-900));
    background-color: rgb(var(--nq-neutral-0));
  }

  &:is(h1, h2, h3, h4, h5, h6) {
    color: rgb(var(--nq-neutral));
    text-wrap: balance;
    overflow-wrap: break-word;
    text-wrap: balance;
    width: 100%;
  }

  &:is(h1) {
    font-size: 44px;
    line-height: 53px;
    font-weight: 700;

    @media (min-width: 1153px) {
      font-size: 48px;
    }
  }

  &:is(h2) {
    font-size: 32px;
    line-height: 42px;
    font-weight: 600;

    @media (min-width: 769px) {
      font-size: 36px;
      line-height: 47px;
    }

    @media (min-width: 1153px) {
      font-size: 38px;
      line-height: 49px;
    }
  }

  &:is(h3) {
    font-size: 26px;
    line-height: 34px;
    font-weight: 600;

    @media (min-width: 769px) {
      font-size: 28px;
      line-height: 36px;
    }

    @media (min-width: 1153px) {
      font-size: 30px;
      line-height: 39px;
    }
  }

  &:is(h4) {
    font-size: 22px;
    line-height: 29px;
    font-weight: 600;

    @media (min-width: 769px) {
      font-size: 24px;
      line-height: 31px;
    }

    @media (min-width: 1153px) {
      font-size: 26px;
      line-height: 34px;
    }
  }

  &:is(p, li) {
    text-wrap: pretty;
  }

  /* Hide empty paragraphs. This is mostly for the markdown */
  &:is(p, span):empty {
    display: none;
  }

  &:is(p a, li a) {
    color: rgb(var(--nq-blue));
  }

  &:is(blockquote p, blockquote p > :is(em, b)) {
    color: rgb(var(--nq-green));
  }

  &:is(code, pre) {
    background-color: rgb(var(--nq-neutral-300));
    color: rgb(var(--nq-neutral-900));
    font-size: 0.9em;
    overflow-x: auto;
    /* Scroll colors */
    --track: rgb(var(--nq-neutral-500));
    --thumb: rgb(var(--nq-neutral-700) / 0.75);
  }

  &:is(code) {
    line-height: 30px;
  }

  /* Links & buttons clickable */
  &:is(a, button:not([disabled])) {
    position: relative;

    @media not all and (hover: hover) {
      &::before,
      &::after {
        content: "";
        position: absolute;
        left: -1rem;
        top: -1rem;
        right: -1rem;
        bottom: -1rem;
      }
    }
  }

  .focusable {
    outline-color: rgb(var(--nq-blue));

    &:focus-visible {
      outline: 2px solid;
      outline-offset: 3px;
    }
  }

  * {
    &::-webkit-scrollbar {
      width: 0.6rem;
      height: 0.6rem;
      margin: 2px;
      scrollbar-gutter: stable;

      @media screen and (min-width: 769px) {
        width: 1rem;
        height: 1rem;
      }
    }

    &.scroll-sm::-webkit-scrollbar {
      width: 0.3rem;
      height: 0.3rem;

      @media screen and (min-width: 769px) {
        width: 0.6rem;
        height: 0.7rem;
      }
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 0.3rem;
      background-color: var(--thumb);
      background-clip: padding-box;
      border: 2px transparent solid;
    }

    &::-webkit-scrollbar-track {
      background-color: var(--track);
    }
  }
}
