:root {
  --nq-ease: cubic-bezier(0.25, 0, 0, 1);
}

*:not(:where(code, pre, .raw, .raw *)) {
  font-family: Mulish, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

:is(code, pre, pre *, code *):not(:where(.raw, .raw *)) {
  font-family: "Fira Code", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

*:not(:where(.raw, .raw *)) {
  text-align: left;
  letter-spacing: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

body:not(.raw) {
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--neutral-100);
}

*:not(:where(.raw, .raw *)) {
  color: var(--neutral-800);
}

:is(h1, h2, h3, h4, h5, h6):not(:where(.raw, .raw *)) {
  color: var(--neutral);
}

:is(h1, h2, h3, h4, h5, h6):not(:where(.raw, .raw *)) {
  text-wrap: balance;
  color: var(--neutral);
  overflow-wrap: break-word;
  font-weight: bold;
  text-wrap: balance;
}

h1:not(:where(.raw, .raw *)) {
  font-size: 44px;
  line-height: 53px;

  @media (min-width: 1153px) {
    font-size: 48px;
  }
}

h2:not(:where(.raw, .raw *)) {
  font-size: 32px;
  line-height: 42px;

  @media (min-width: 769px) {
    font-size: 36px;
    line-height: 47px;
  }

  @media (min-width: 1153px) {
    font-size: 38px;
    line-height: 49px;
  }
}

h3:not(:where(.raw, .raw *)) {
  font-size: 26px;
  line-height: 34px;

  @media (min-width: 769px) {
    font-size: 28px;
    line-height: 36px;
  }

  @media (min-width: 1153px) {
    font-size: 30px;
    line-height: 39px;
  }
}

h4:not(:where(.raw, .raw *)) {
  font-size: 22px;
  line-height: 29px;

  @media (min-width: 769px) {
    font-size: 24px;
    line-height: 31px;
  }

  @media (min-width: 1153px) {
    font-size: 26px;
    line-height: 34px;
  }
}

p:not(:where(.raw, .raw *)) {
  text-wrap: pretty;
}

/* Hide empty paragraphs. This is mostly for the markdown */
:is(p, span):not(:where(.raw, .raw *)):empty {
  display: none;
}

p a:not(:where(.raw, .raw *)) {
  color: var(--blue);
}

blockquote :is(p, p > :is(em, b)):not(:where(.raw, .raw *)) {
  color: var(--green);
}

:is(code, pre):not(:where(.raw, .raw *)) {
  background-color: var(--neutral-300);
  color: var(--neutral-900);
}

code:not(:where(.raw, .raw *)) {
  line-height: 30px;
}
