:root {
  --nq-ease: cubic-bezier(0.25, 0, 0, 1);
  --nq-shadow:
    0px 18px 38px rgba(31 35 72 / 0.07), 0px 7px 8.5px rgba(31 35 72 / 0.04), 0px 2px 2.5px rgba(31 35 72 / 0.02);
  --nq-shadow-lg:
    0px 6px 20px rgba(59 76 106 / 0.13), 0px 1.34018px 4.46726px rgba(59 76 106 / 0.0774939),
    0px 0.399006px 1.33002px rgba(59 76 106 / 0.0525061);
  /* This is the old box-shadox from nimiq-style framework. It stays here for reference */
  /* box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15); */
  /* box-shadow: 0 0.5rem 2.5rem rgba(0, 0, 0, 0.15); */
  --nq-track: rgb(var(--nq-neutral-200));
  --nq-thumb: rgb(var(--nq-neutral-600));

  --nq-font-sans:
    'Mulish', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial,
    Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --nq-font-mono:
    'Fira Code', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

:where(*:not(:where(.nq-raw *, [nq-raw] *))) {
  border-color: rgb(var(--nq-neutral-400));
  outline-color: rgb(var(--nq-blue));
  outline-width: 1.5px;
  overscroll-behavior-x: contain;
  caret-color: rgb(var(--nq-blue));

  &:where(:not(:where(code, pre))) {
    font-family: var(--nq-font-sans, 'Mulish');
  }

  &:where(code, pre, pre *, code *) {
    font-family: var(--nq-font-mono, 'Fira Code');
    /* font-size-adjust: from-font;
    TODO
    Remove all font-sizes for Fira Code and instead using font-size-adjust to adjust the font-size to the parent element.
    https://developer.mozilla.org/en-US/docs/Web/CSS/font-size-adjust
    */
  }

  &:where(*, *:before, *:after) {
    box-sizing: inherit;
  }

  &:where(body) {
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    min-width: 300px;
    min-height: 100vh;
    min-height: 100dvh;
    color: rgb(var(--nq-neutral-900));
    background-color: rgb(var(--nq-neutral-0));

    :where([data-inverted] *) & {
      color: rgb(var(--nq-neutral-0) / 0.8);
    }
  }

  &:where(h1, h2, h3, h4, h5, h6) {
    text-wrap: balance;
    width: 100%;
    max-width: 100%;
    font-weight: bold;
    font-size: var(--font-size);
    line-height: 1.2;

    /* We change the color except if there is parent that change the color */
    :where(:not(.nq-no-color, [nq-no-color])):not(:has(.nq-no-color, [nq-no-color])) {
      color: rgb(var(--nq-neutral));
    }

    /* margin: 1em 0; */
    /* text-box-trim: both;
    text-box-edge: cap alphabetic; */
  }

  &:where(h1) {
    --font-size-min: 24;
    --font-size-max: 32;
  }

  &:where(h2) {
    --font-size-max: 20;
    --font-size-min: 24;
  }

  &:where(p) {
    --line-height: 1.3125;
  }

  small {
    --font-size-min: 12;
    --font-size-max: 14;
    font-size: var(--font-size);
    line-height: 1.2;
    font-weight: 600;
  }

  &:where(p, li) {
    text-wrap: pretty;
  }

  /* Hide empty paragraphs. This is mostly for the markdown */
  &:where(p, span):empty {
    display: none;
  }

  &:where(a) {
    cursor: pointer;
  }

  &:where(blockquote p, blockquote p > :where(em, b)) {
    color: rgb(var(--nq-green));
  }

  &:where(code, pre) {
    color: rgb(var(--nq-neutral-900));
    --font-size-min: 14;
    --font-size-max: 16;
    font-size: var(--font-size);
    overflow-x: auto;
    /* Scroll colors */
    --nq-track: rgb(var(--nq-neutral-500));
    --nq-thumb: rgb(var(--nq-neutral-700) / 0.75);
  }

  &:where(code) {
    line-height: 1.875rem;
  }

  :where(:where(h1, h2, h3, h4, h5, h6, p, li, span, a) > code) {
    background-color: rgb(var(--nq-neutral-200));
  }

  &:where(pre) {
    background-color: rgb(var(--nq-neutral-50));
  }

  /* Links & buttons clickable */
  &:where(a, button:not([disabled])) {
    position: relative;

    @media not all and (hover: hover) {
      &::before {
        content: '';
        position: absolute;
        left: -1rem;
        top: -1rem;
        right: -1rem;
        bottom: -1rem;
      }
    }
  }
}
