*:not(:where(.raw, .raw *)) * {
  &::-webkit-scrollbar {
    width: 0.8rem;
    height: 0.8rem;
    margin: 2px;
    scrollbar-gutter: stable;

    @media screen and (min-width: 769px) {
      width: 1rem;
      height: 1rem;
    }
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0.4rem;
    background-color: var(--thumb);
    background-clip: padding-box;
    border: 2px transparent solid;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--track);
  }

  &.nq-scroll-sm::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }

  &.nq-scroll-sm::-webkit-scrollbar-thum {
    border-radius: 0.25rem;
  }
}