:root {
  /* Base font sizes */
  --nq-m-min: 0;
  --nq-m-max: 0;

  /* Viewport widths */
  --nq-screen-width-min: 320;
  --nq-screen-width-max: 1152;

  /* Base font sizes */
  --font-size-min: 16;
  --font-size-max: 16;
}

/**
 * Make sure to import also nimiq-colors layer found in this package
 **/
.nq-prose,
.nq-prose-compact {
  margin-trim: block;

  &:not(:where(.nq-prose-compact, [nq-prose-compact])) {
    > *:not(:where(.nq-raw, .nq-raw *, .nq-no-prose, .nq-no-prose *)) {
      padding-right: 2rem;
      padding-left: 2rem;

      &:last-child {
        padding-bottom: 6rem;

        @media (min-width: 1153px) {
          padding-bottom: 8rem;
        }
      }
    }
  }

  * {
    /* Margin calculation */
    --nq-margin-width-range: calc(var(--nq-screen-width-max) - var(--nq-screen-width-min));
    --nq-margin-scale-factor: calc((100vw - (1px * var(--nq-screen-width-min))) / var(--nq-margin-width-range));
    --nq-m-range: calc(var(--nq-m-max) - var(--nq-m-min));
    --nq-m-fluid: calc(1px * var(--nq-m-min) + var(--nq-m-range) * var(--nq-margin-scale-factor));
    --nq-m-size: clamp(calc(1px * var(--nq-m-min)), var(--nq-m-fluid), calc(var(--nq-m-max) * 1px));

    /* Font size calculation */
    --f-font-width-range: calc(var(--nq-screen-width-max) - var(--nq-screen-width-min));
    --f-font-scale-factor: calc((100vw - (1px * var(--nq-screen-width-min))) / var(--f-font-width-range));
    --font-size-range: calc(var(--font-size-max) - var(--font-size-min));
    --font-size-fluid: calc(1px * var(--font-size-min) + var(--font-size-range) * var(--f-font-scale-factor));
    --font-size: clamp(calc(1px * var(--font-size-min)), var(--font-size-fluid), calc(var(--font-size-max) * 1px));
  }

  > *:first-child {
    margin-top: 0;
    /* TODO Remove margin-top and margin-bottom on last element when margin-trim is widely supported */
  }

  > *:last-child {
    margin-bottom: 0;
  }

  *:not(:where(.nq-raw, .nq-raw *, .nq-no-prose, .nq-no-prose *)) {
    line-height: 1.5;
    max-width: var(--nq-prose-max-width, 780px);
    margin-left: auto;
    margin-right: auto;
    font-family: var(--nq-font-sans, 'Mulish');

    &:where(h1) {
      --font-size-min: 44;
      --font-size-max: 48;
      font-size: var(--font-size);
      line-height: 1.5;
      font-weight: 700;
    }

    &:where(h1 + *:not(:where(h1, h2, h3, h4))) {
      --nq-m-min: 112;
      --nq-m-max: 120;
      margin-top: var(--nq-m-size);
    }

    &:where(h2) {
      --font-size-min: 32;
      --font-size-max: 38;
      font-size: var(--font-size);
      line-height: 1.3;
      font-weight: 700;

      margin-top: var(--nq-m-size);
      margin-bottom: 24px;
      --nq-m-min: 88;
      --nq-m-max: 96;

      &:where(h1 + h2) {
        --nq-m-min: 40;
        --nq-m-max: 48;
      }
    }

    &:where(h3) {
      --font-size-min: 26;
      --font-size-max: 30;
      font-size: var(--font-size);
      line-height: 1.3;
      font-weight: 700;

      margin-bottom: 24px;
      margin-top: var(--nq-m-size);
      --nq-m-min: 88;
      --nq-m-max: 96;

      &:where(h2 + h3) {
        --nq-m-min: 32;
        --nq-m-max: 36;
      }
    }

    &:where(h4) {
      --font-size-min: 22;
      --font-size-max: 26;
      font-size: var(--font-size);
      line-height: 1.3;
      font-weight: 700;

      margin-top: var(--nq-m-size);
      margin-bottom: 24px;
      --nq-m-min: 88;
      --nq-m-max: 96;
    }

    &:where(h3 + h4) {
      --nq-m-min: 32;
      --nq-m-max: 36;
    }

    /* Anchors in headings */
    &:where(h1, h2, h3, h4, h5, h6)[id] {
      position: relative;
      margin-left: -1.25rem;
      padding-left: 1rem;
      padding-right: 1rem;
      width: 100%;
      min-height: 1em;
      color: rgb(var(--nq-neutral) / 1);

      &::after {
        content: '#';
        opacity: 0;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        height: 100%;
        transition: 50ms opacity var(--nq-ease, ease-in-out);
        pointer-events: none;
      }

      @media (min-width: 769px) {
        :where(&, &::after):hover {
          &::after {
            opacity: 0.5;
          }
        }
      }

      &:has(a:focus-visible) {
        outline: 0.125rem solid rgb(var(--nq-blue));
        outline-offset: 0.125rem;
      }

      > a {
        position: absolute;
        inset: 0;
        padding-left: 20px;
        font-size: inherit;
        font-weight: inherit;
        top: -6px;
        color: rgb(var(--nq-neutral) / 1);

        &::after {
          position: absolute;
          inset: 0;
        }
      }
    }

    &:where(p) {
      margin-top: 0;
      margin-bottom: 0;
      line-height: 1.5;

      & + p {
        margin-top: 16px;
      }
    }

    &:where(:not(blockquote p)) {
      --font-size-min: 14;
      --font-size-max: 16;
      font-size: var(--font-size);
    }

    &:where(figure) {
      figcaption {
        color: rgb(var(--nq-neutral-700));
        font-size: 0.875em;
        font-weight: 700;
        line-height: 1.3125;

        :where(.dark, [data-theme='dark']) & {
          color: rgb(var(--nq-white) / 0.8);
        }
      }
    }

    &:where(blockquote) {
      background: rgb(var(--nq-green-400));
      --nq-m-min: 14;
      --nq-m-max: 16;
      padding: var(--nq-m-size);
      border-radius: 6px;
      box-shadow: 0 0 0 1.5px rgb(var(--nq-green-600));
      font-weight: 600;
      transform: translateX(-8px);
      width: calc(100% + 16px);
      --font-size-min: 12;
      --font-size-max: 14;
      font-size: var(--font-size);
    }

    &:where(img, video, iframe) {
      border-radius: 6px;
      --nq-m-min: 18;
      --nq-m-max: 22;
      margin-top: var(--nq-m-size);

      &:has(+ figcaption) {
        --nq-m-min: 12;
        --nq-m-max: 16;
        margin-bottom: var(--nq-m-size);
      }

      &:not(:has(+ figcaption)) {
        --nq-m-min: 18;
        --nq-m-max: 22;
        margin-bottom: var(--nq-m-size);
      }
    }

    /* Rules to use a wider container (8px on the sides). Mainly for phones */
    &:where(img, video, iframe, table),
    /* Select code and pre that are not child of p,ul,ol... */
    &:where(code, pre):not(:where(:where(p, ul, ol, pre, code, table) :where(pre, code))) {
      margin-left: -1.5rem;
      width: min(calc(100% + 3rem), 700px);

      @media (min-width: 768px) {
        margin-left: 0;
        width: 100%;
        max-width: 100%;
      }
    }

    &:where(ul) {
      list-style: none;
      margin-top: 24px;
      margin-bottom: 24px;

      li {
        display: block;
        position: relative;
        margin: 16px 0 16px 20px;

        @media screen and (min-width: 769px) {
          margin-left: 32px;
        }

        @media screen and (min-width: 1153px) {
          margin-left: 40px;
        }

        > ol li {
          margin-left: 0;
        }

        :not(ul ol) &::before {
          content: '';
          width: 6px;
          height: 6px;
          border-radius: 3px;
          background-color: currentColor;
          opacity: 0.2;
          display: inline-block;
          margin-right: 12px;
          position: absolute;
          left: -20px;
          top: 8px;
        }
      }
    }

    &:where(ol) {
      list-style: none;
      counter-reset: item;
      margin-top: 24px;
      margin-bottom: 24px;

      li {
        counter-increment: item;
        position: relative;
        margin: 16px 0 16px 20px;

        @media screen and (min-width: 769px) {
          margin-left: 32px;
        }

        @media screen and (min-width: 1153px) {
          margin-left: 40px;
        }

        &::before {
          content: counters(item, '.');
          font-weight: 700;
          display: inline-block;
          margin-right: 12px;
          position: absolute;
          left: -20px;
          color: currentColor;
          opacity: 0.5;
          top: 2px;
        }

        > ol {
          counter-reset: subitem;

          li {
            counter-increment: subitem;

            &::before {
              content: counters(item, '.') '.' counter(subitem);
              top: 0;
              left: -32px;
            }
          }
        }
      }
    }

    :where(ol, ul) ol,
    ul ul {
      margin-top: 8px;
      margin-bottom: 16px;
      padding-left: 20px;

      li {
        margin-top: 0;
        margin-left: 12px;
      }
    }

    &:where(code, pre, kbd, pre *, code *) {
      font-family: var(--nq-font-mono, 'Fira Code');
      /* font-size-adjust: from-font;
          TODO
          Remove all font-sizes for Fira Code and instead using font-size-adjust to adjust the font-size to the parent element.
        https://developer.mozilla.org/en-US/docs/Web/CSS/font-size-adjust
    */
    }

    &:where(code) {
      font-size: 0.875em;
      border-radius: 4px;
    }

    :where(:where(h1, h2, h3, h4, h5, h6, p, li, span, a) > code) {
      padding: 0 0.25em;
    }

    &:where(pre) {
      width: 100%;
      font-size: 0.875em;
      --nq-m-min: 20;
      --nq-m-max: 24;
      margin-top: var(--nq-m-size);
      margin-bottom: var(--nq-m-size);
      padding: 20px 24px;
      border-radius: 6px;
      box-shadow: 0 0 0 1.5px rgb(var(--nq-neutral) / 0.08);
    }

    kbd {
      padding: 0.25em 0.125em;
      font-size: 0.875em;
      color: rgba(var(--nq-neutral-800) / 1);
      background-color: rgba(var(--nq-neutral-200) / 1);
      border-radius: 0.25em;
      box-shadow: 0 0 0 1px rgba(var(--nq-neutral-400) / 1);
      margin: 0 0.25em -0.25em 0.25em;
      white-space: nowrap;
      line-height: 1;
    }

    &:where(pre, code):where(h1, h2, h3, h4 &) {
      font-size: 0.8em;
      padding: 2px 0.5rem;
      position: relative;
      top: -1px;
    }

    &:where(a) {
      font-weight: 600;
      text-decoration: none;
      color: rgb(var(--nq-blue) / 1);
    }
  }

  table {
    --nq-m-min: 24;
    --nq-m-max: 32;
    margin-bottom: var(--nq-m-size);
    margin-top: var(--nq-m-size);
    display: block;
    overflow-x: auto;
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 6px;
    border: 1px solid rgb(var(--nq-neutral-300));
    max-height: 90dvh;
    max-width: max-content;
    scroll-behavior: smooth;

    code,
    pre {
      --line-height: 1.3;
      padding: 4px 0.25rem;
      position: relative;
    }

    th,
    td {
      padding: 12px 0.75rem;
    }

    thead th {
      z-index: 1;
      position: sticky;
      top: -1px;
      text-wrap: balance;
      white-space: nowrap;
      font-weight: 400;
      color: rgb(var(--nq-neutral-800));
      background-color: rgb(var(--nq-neutral-100));
    }

    tbody {
      td {
        vertical-align: initial;
        text-wrap: balance;
      }

      > tr:not(:last-child) td {
        border-bottom: 1px solid rgb(var(--nq-neutral-300));
      }
    }

    /* Apply a border to the right of all but the last column */
    th:not(:last-child),
    td:not(:last-child) {
      border-right: 1px solid rgb(var(--nq-neutral-300));
    }
  }

  hr {
    --nq-m-min: 20;
    --nq-m-max: 24;
    margin: var(--nq-m-size) auto;
    width: 128px;
    border-color: rgb(var(--nq-neutral-500));
  }

  details {
    /* TODO Animate open/closing https://developer.chrome.com/docs/css-ui/animate-to-height-auto#animate_the_details_element */
    border-radius: 6px;
    background-color: rgb(var(--nq-neutral-200));
    --nq-m-min: 18;
    --nq-m-max: 22;
    margin-top: var(--nq-m-size);
    margin-bottom: var(--nq-m-size);
    color: rgb(var(--nq-neutral-900));
    box-shadow: 0 0 0 1.5px rgb(var(--nq-neutral) / 0.1);

    ::marker {
      color: transparent;
    }

    summary {
      padding: 14px 2rem 14px calc(0.7rem + 2.3em);
      font-size: 1em;
      position: relative;
      display: flex;
      align-items: center;
      cursor: pointer;

      &::before {
        content: '';
        --icon: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMTIgMTIiPjxwYXRoIGZpbGw9ImN1cnJlbnRDb2xvciIgZD0iTTIgMS40MTNBLjguOCAwIDAxMy4yMTIuNzI3bDcuNjQ1IDQuNTg3YS44LjggMCAwMTAgMS4zNzJsLTcuNjQ1IDQuNTg3QS44LjggMCAwMTIgMTAuNTg3eiIvPjwvc3ZnPg==);
        -webkit-mask: var(--icon) no-repeat;
        mask: var(--icon) no-repeat;
        -webkit-mask-size: 100% 100%;
        mask-size: 100% 100%;
        background-color: currentColor;
        color: inherit;
        width: 0.622em;
        height: 0.622em;
        transition: transform 100ms ease-out;
        display: inline-block;
        position: absolute;
        left: 0;
        padding-left: 4rem;
      }
    }

    &[open] summary {
      &::before {
        transform: rotate(90deg);
      }
    }

    > *:not(summary) {
      padding: 0 1rem 14px 1rem;
    }
  }
}
