/**
 * Make sure to import also nimiq-colors layer found in this package
 **/
.prose {
  >*:not(:where(.raw, .raw *)):last-child {
    padding-bottom: 6rem;

    @media (min-width: 1153px) {
      padding-bottom: 8rem;
    }
  }

  >*:not(:where(.raw, .raw *)) {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  >*:first-child {
    margin-top: 0;
  }

  *:not(:where(.raw, .raw *)) {
    font-size: 1rem;
    line-height: 1.5;
    max-width: calc(74ch + 2rem + 2rem);
    margin-left: auto;
    margin-right: auto;


    &:is(h1) {
      font-size: 2.75rem;
      line-height: 3.3125rem;
      font-weight: 700;

      @media (min-width: 1153px) {
        font-size: 3rem;
      }

      margin-top: 9rem;
      margin-bottom: 7rem;

      @media (min-width: 769px) {
        margin-bottom: 7.5rem;
      }
    }

    &:is(h2) {
      font-size: 2rem;
      line-height: 2.625rem;
      font-weight: 700;

      @media (min-width: 769px) {
        font-size: 2.25rem;
        line-height: 2.9375rem;
      }

      @media (min-width: 1153px) {
        font-size: 2.375rem;
        line-height: 3.0625rem;
      }

      margin-top: 5.5rem;
      margin-bottom: 1.5rem;

      @media (min-width: 769px) {
        margin-top: 6rem;
      }
    }

    &:is(h1+h2) {
      margin-top: 3.5rem;

      @media (min-width: 1153px) {
        margin-top: 4rem;
      }
    }


    &:is(h3) {
      font-size: 1.625rem;
      line-height: 2.125rem;
      font-weight: 700;

      @media (min-width: 769px) {
        font-size: 1.75rem;
        line-height: 2.25rem;
      }

      @media (min-width: 1153px) {
        font-size: 1.875rem;
        line-height: 2.4375rem;
      }

      margin-top: 5.5rem;
      margin-bottom: 1.5rem;

      @media (min-width: 769px) {
        margin-top: 4rem;
      }
    }

    &:is(h2+h3) {
      margin-top: 3rem;

      @media (min-width: 1153px) {
        margin-top: 3.5rem;
      }
    }

    &:is(h4) {
      font-size: 1.375rem;
      line-height: 1.8125rem;
      font-weight: 700;

      @media (min-width: 769px) {
        font-size: 1.5rem;
        line-height: 1.9375rem;
      }

      @media (min-width: 1153px) {
        font-size: 1.625rem;
        line-height: 2.125rem;
      }

      margin-top: 5.5rem;
      margin-bottom: 1.5rem;

      @media (min-width: 769px) {
        margin-top: 6rem;
      }
    }

    &:is(h3+h4) {
      margin-top: 2.5rem;

      @media (min-width: 1153px) {
        margin-top: 3rem;
      }
    }

    /* Anchors in headings */
    &:is(h1, h2, h3, h4, h5, h6)[id] {
      position: relative;
      margin-left: -1em;
      padding-left: 1em;
      padding-right: 1em;
      width: max-content;

      &::after {
        content: '#';
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        transition: 50ms opacity var(--nq-ease, ease-in-out);
        pointer-events: none;
      }

      @media (min-width: 769px) {
        :is(&, &::after):hover {
          &::after {
            opacity: 0.5;
          }
        }
      }

      >a {
        position: absolute;
        inset: 0;
        border-radius: 0.5rem;

        &:focus-visible {
          outline: 0.125rem solid rgb(var(--nq-blue));
          outline-offset: 0.125rem;
        }
      }
    }

    &:is(p) {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 1rem;
      line-height: 1.75;

      &+p {
        margin-top: 1rem;
      }
    }

    &:is(h1+p) {
      margin-top: 7rem;

      @media (min-width: 1153px) {
        margin-top: 7.5rem;
      }
    }

    &:is(h2, h3, h4)+p {
      margin-top: -0.4375rem;
    }

    &:is(blockquote) {
      margin-top: 0;
      margin-left: 0;

      &:not(figure blockquote) {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;

        /*
          We add the borders to blockquote if is not a children of figure
          Otherwise, figure will have the borders
        */
        &::after,
        &::before {
          content: '';
          display: block;
          width: 100%;
          height: 0.125rem;
          background-color: rgb(var(--nq-neutral-400));
          border-radius: 1px;
        }

        &>* {
          padding: 1.2rem 1.25em;

          @media (min-width: 769px) {
            padding: 1.5rem 2em;
          }
        }
      }

      * {
        font-size: 1.3125rem;
        font-weight: 700;
        line-height: 2.125rem;

        @media (min-width: 769px) {
          font-size: 1.375rem;
          line-height: 2.1875rem;
        }

        @media (min-width: 1153px) {
          font-size: 1.5rem;
          line-height: 2.375rem;
        }
      }
    }

    &:is(figure) {
      figcaption {
        font-size: 0.875rem;
        font-weight: 700;
        line-height: 1.3125rem;
      }

      &:has(blockquote) {
        margin-top: 2rem;
        margin-bottom: 1.5rem;

        &::after,
        &::before {
          content: '';
          display: block;
          width: 100%;
          height: 0.125rem;
          background-color: rgb(var(--nq-neutral-400));
          border-radius: 1px;
        }

        blockquote {
          padding: 1.5rem 1.25em 0 1.25em;

          @media (min-width: 769px) {
            padding: 1.5rem 2em 0 2em;
          }
        }

        figcaption {
          font-size: 0.875rem;
          font-weight: 400;
          line-height: 1.3125rem;
          padding: 1.5rem 1.25em;
          margin-top: -1.25rem;

          @media (min-width: 769px) {
            padding: 1.5rem 2em;
            margin-top: -1.5rem;
            font-size: 1rem;
            line-height: 1.5rem;
          }
        }
      }
    }

    &:is(img, video, iframe) {
      border-radius: 0.375rem;
      margin-top: 1.5rem;

      &:has(+ figcaption) {
        margin-bottom: 0.75rem;

        @media (min-width: 321px) {
          margin-bottom: 1rem;
        }
      }

      &:not(:has(+ figcaption)) {
        margin-bottom: 1.5rem;
      }
    }

    /* Rules to use a wider container (8px on the sides). Mainly for phones */
    &:is(img, video, iframe, table),
    /* Select code and pre that are not child of p,ul,ol... */
    &:is(code, pre):not(:where(:is(p, ul, ol, pre, code, table) :is(pre, code))) {
      margin-left: -1.5rem;
      width: min(calc(100% + 3rem), 700px);

      @media (min-width: 768px) {
        margin-left: 0;
        width: 100%;
        max-width: 100%;
      }
    }

    &:is(ul) {
      list-style: none;
      padding-left: 1rem;
      margin-top: 1rem;

      @media (min-width: 769px) {
        padding-left: 1.375rem;
      }


      li {
        margin: 1rem 0;
        display: block;

        &::before {
          content: '';
          width: 0.375rem;
          height: 0.375rem;
          display: inline-block;
          position: relative;
          border-radius: 0.1875rem;
          background-color: rgb(var(--nq-neutral-600));
          margin-right: 0.8125rem;

          @media (min-width: 769px) {
            margin-right: 1rem;
          }
        }
      }
    }

    &:is(ol) {
      list-style: none;
      counter-reset: item;
      padding-left: 0.8125rem;

      @media (min-width: 769px) {
        padding-left: 1.125rem;
      }

      li {
        counter-increment: item;
        margin: 1rem 0;

        &::before {
          content: counter(item);
          color: rgb(var(--nq-neutral-600));
          font-weight: 700;
          display: inline-block;
          margin-right: 0.75rem;

          @media (min-width: 769px) {
            margin-right: 1rem;
          }

        }
      }
    }

    &:is(code) {
      border-radius: 0.25rem;

      &:not(:is(:where(:is(h1, h2, h3, h4) &), pre > &)) {
        padding: 0px 0.5em;
      }

    }

    &:is(pre) {
      margin-top: 1.5rem;
      padding: 1.5rem;
      border-radius: 0.375rem;
    }

    &:is(pre, code):where(:is(h1, h2, h3, h4) &) {
      font-size: 0.8em;
      padding: 0.2em 0.5em;
      position: relative;
      top: -1px;
    }

    &:is(a) {
      text-decoration: none;
      font-weight: 600;
    }

    table {
      margin-top: 2rem;
      margin-bottom: 2rem;
      display: block;
      overflow-x: auto;
      border-spacing: 0;
      border-collapse: separate;
      border-radius: 0.375rem;
      border: 1px solid rgb(var(--nq-neutral-300));
      max-height: 90dvh;
      max-width: max-content;
      scroll-behavior: smooth;

      code,
      pre {
        line-height: 1.3;
        padding: 0.25rem;
        position: relative;
      }

      th,
      td {
        padding: 0.75rem;
      }

      thead th {
        z-index: 1;
        position: sticky;
        top: -1px;
        text-wrap: balance;
        white-space: nowrap;
        font-weight: 400;
        color: rgb(var(--nq-neutral-800));
        background-color: rgb(var(--nq-neutral-100));
      }

      tbody {
        td {
          vertical-align: initial;
          text-wrap: balance;
        }

        >tr:not(:last-child) td {
          border-bottom: 1px solid rgb(var(--nq-neutral-300));
        }
      }

      /* Apply a border to the right of all but the last column */
      th:not(:last-child),
      td:not(:last-child) {
        border-right: 1px solid rgb(var(--nq-neutral-300));
      }
    }

    hr {
      margin: 2rem auto;
      width: 8rem;
      border-color: rgb(var(--nq-neutral-500));
    }

    details {
      border-radius: 0.4rem;
      background-color: rgb(var(--nq-neutral-200));
      margin: 1.5rem 0;
      color: rgb(var(--nq-neutral-900));

      ::marker {
        color: transparent;
      }

      summary {
        padding: 1rem 2rem 1rem calc(0.7em + 2.3rem);
        font-size: 1rem;
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;

        &::before {
          content: '';
          --icon: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMTIgMTIiPjxwYXRoIGZpbGw9ImN1cnJlbnRDb2xvciIgZD0iTTIgMS40MTNBLjguOCAwIDAxMy4yMTIuNzI3bDcuNjQ1IDQuNTg3YS44LjggMCAwMTAgMS4zNzJsLTcuNjQ1IDQuNTg3QS44LjggMCAwMTIgMTAuNTg3eiIvPjwvc3ZnPg==);
          -webkit-mask: var(--icon) no-repeat;
          mask: var(--icon) no-repeat;
          -webkit-mask-size: 100% 100%;
          mask-size: 100% 100%;
          background-color: currentColor;
          color: inherit;
          width: 0.7em;
          height: 0.7em;
          transition: transform 100ms ease-out;
          display: inline-block;
          position: absolute;
          left: 0;
          padding-left: 4rem;
        }
      }

      &[open] summary {
        &::before {
          transform: rotate(90deg);
        }
      }

      >*:not(summary) {
        padding: 0 1rem 1rem 1rem;
      }
    }
  }
}
