.subline {
  font-size: 1.375rem;
  line-height: 1.2;
  margin-top: 20px;

  @media (min-width: 769px) {
    font-size: 1.5rem;
    margin-top: 24px;
  }
}

.label {
  text-transform: uppercase;
  letter-spacing: 0.17em;
  font-weight: 700;
  line-height: 1.2;
  color: rgb(var(--nq-neutral-700));
}

.arrow,
.loading {
  &::after {
    content: '';
    position: relative;
    display: inline-block;
    -webkit-mask: var(--nq-icon) no-repeat;
    mask: var(--nq-icon) no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    background-color: currentColor;
    color: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: inherit;
    margin-left: 0.4em;
    transition: transform 100ms ease-out;
    width: 0.7em;
    height: 0.7em;
    --nq-icon: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMTIgMTIiPjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iY3VycmVudENvbG9yIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTQuNjY2IDEwIDEgNmwzLjY2Ny00TTIuNjE5IDZIMTEiLz48L3N2Zz4=");
  }
}


.arrow {

  /* We select the arrow OR the closest parent with href to an http */
  a[href^="http"] &::after,
  &[href^="http"]::after {
    margin-bottom: 1px;
    rotate: 0.375turn;
  }

  /* We select the arrow OR the closest parent with href starting with local href */
  a:is(:not([href^="http"])) &::after,
  &:is(:not([href^="http"]))::after {
    margin-bottom: 1px;
    rotate: 0.5turn;
  }

  &:hover::after {
    transform: translateX(-.25em);
  }

  a:hover &::after {
    transform: translateX(-.25em);
  }
}

.arrow-back {
  &::before {
    content: '';
    position: relative;
    display: inline-block;
    -webkit-mask: var(--nq-icon) no-repeat;
    mask: var(--nq-icon) no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    background-color: currentColor;
    color: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: inherit;
    transition: transform 100ms ease-out;
    width: 0.7em;
    height: 0.7em;
    --nq-icon: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMTIgMTIiPjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iY3VycmVudENvbG9yIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTQuNjY2IDEwIDEgNmwzLjY2Ny00TTIuNjE5IDZIMTEiLz48L3N2Zz4=");
    margin-right: 0.4em;
    margin-bottom: 1px;
  }

  &:hover::before {
    transform: translateX(-.25em);
  }

  a:hover &::before {
    transform: translateX(-.25em);
  }
}

.loading,
.not-loading {
  &::after {
    margin-right: -0.4em;
    transition: width 0.2s ease-out;
    width: 1em;
    aspect-ratio: 1/1;
    --nq-icon: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMTIgMTIiPjxnIGZpbGw9Im5vbmUiPjxnIHN0cm9rZT0iY3VycmVudENvbG9yIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS13aWR0aD0iMS42NjciIGNsaXAtcGF0aD0idXJsKCNuaW1pcS1zcGlubmVyLXVqeGl1c3hoaXhhcnAxb2Q4YmVreCkiPjxwYXRoIGQ9Ik02IDFDOC43NjI1IDEgMTEgMy4yMzc1IDExIDYiLz48cGF0aCBkPSJNMy4wMzgwOSAyQzEuODA0MDIgMi45MDM3NCAxIDQuMzYyMTkgMSA2LjAxMzg1QzEgOC43Njg3IDMuMjMxMyAxMSA1Ljk4NjE1IDExQzcuNjM3ODEgMTEgOS4wOTYyNiAxMC4xOTYgMTAgOC45NjE5MSIgb3BhY2l0eT0iLjMiLz48L2c+PGRlZnM+PGNsaXBQYXRoIGlkPSJuaW1pcS1zcGlubmVyLXVqeGl1c3hoaXhhcnAxb2Q4YmVreCI+PHJlY3Qgd2lkdGg9IjEyIiBoZWlnaHQ9IjEyIiBmaWxsPSIjZmZmIi8+PC9jbGlwUGF0aD48L2RlZnM+PC9nPjxhbmltYXRlVHJhbnNmb3JtIGF0dHJpYnV0ZU5hbWU9InRyYW5zZm9ybSIgZHVyPSIxcyIgZnJvbT0iMCAwIDAiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiB0bz0iMzYwIDAgMCIgdHlwZT0icm90YXRlIi8+PC9zdmc+");
    transform: scale(1);
    content: '';
    position: relative;
    display: inline-block;
    -webkit-mask: var(--nq-icon) no-repeat;
    mask: var(--nq-icon) no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    background-color: currentColor;
    color: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: inherit;
    margin-left: 0.4em;
  }

  &:is(.not-loading, [not-loading])::after {
    width: 0;
  }
}

.pill,
.pill-sm,
.pill-bold,
.pill-blue,
.pill-gold,
.pill-green,
.pill-orange,
.pill-red,
.pill-secondary,
.pill-tertiary {
  font-size: 16px;
  font-weight: bold;
  padding: 5px 16px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  line-height: 1.5;
  height: max-content;
  width: max-content;
  color: white;
  transition:
    background 0.2s ease-out,
    opacity 0.5s ease-out;
  outline: none;

  &:is(.pill-sm, [pill-sm]) {
    font-size: 14px;
    padding: 3px 13px;
  }

  &:is(.pill-bold, [pill-bold]) {
    width: 100%;
    flex: 1;
    padding: 1rem 0.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 9999px;
  }

  &:is([disabled]) {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:focus-visible {
    outline: 2px solid rgba(var(--nq-blue));
    outline-offset: 3px;
  }
}

.pill-blue {
  background: var(--nq-blue-gradient);

  &:hover {
    background: var(--nq-blue-gradient-darkened);
  }
}

.pill-green {
  background: var(--nq-green-gradient);

  &:hover {
    background: var(--nq-green-gradient-darkened);
  }
}

.pill-red {
  background: var(--nq-red-gradient);

  &:hover {
    background: var(--nq-red-gradient-darkened);
  }
}

.pill-gold {
  background: var(--nq-gold-gradient);

  &:hover {
    background: var(--nq-gold-gradient-darkened);
  }
}

.pill-orange {
  background: var(--nq-orange-gradient);

  &:hover {
    background: var(--nq-orange-gradient-darkened);
  }
}

.pill-secondary {
  background: rgb(var(--nq-neutral-400));
  color: rgb(var(--nq-neutral));

  &:hover {
    background: rgb(var(--nq-neutral-500));
  }
}

.pill-tertiary {
  border: 1.5px solid rgb(var(--nq-neutral-600));
  color: rgb(var(--nq-neutral));
  background-color: rgb(var(--nq-neutral-0));

  &:hover {
    background-color: rgb(var(--nq-neutral-50));

    .dark & {
      background-color: rgb(var(--nq-neutral-200));
    }
  }

}


.input-box {
  font-size: 16px;
  line-height: 1.5;
  padding: 4.5px 14px;


  &:is(textarea) {
    padding: 4px 12px;
  }

  border-radius: 6px;
  width: 100%;
  background-color: transparent;
  transition: colors 0.2s var(--nq-ease),
  box-shadow 0.1s var(--nq-ease);
  outline: 0;

  --ring-color: rgba(var(--nq-neutral-500));
  --color: rgb(var(--nq-neutral));
  --placeholder-color: rgb(var(--nq-neutral-700));

  box-shadow: 0 0 0 1.5px var(--ring-color);
  color: var(--color);

  &::placeholder {
    color: var(--placeholder-color);
  }

  &:not(.invalid, [invalid]):is(:hover, :focus) {
    --color: rgb(var(--nq-blue));
    --ring-color: rgba(var(--nq-blue) / 0.3);

    &::placeholder {
      --placeholder-color: rgb(var(--nq-blue) / 0.6);
    }

    &:focus:valid {
      --ring-color: rgba(var(--nq-blue));
    }
  }

  &.invalid {
    --color: rgb(var(--nq-orange));
    --ring-color: rgba(var(--nq-orange) / 0.4);

    &::placeholder {
      --placeholder-color: rgb(var(--nq-orange) / 0.7);
    }

    &:hover,
    &:focus {
      --ring-color: rgba(var(--nq-orange));
    }
  }

  &:is(:hover, :focus-visible) {
    outline: 1.5px solid rgba(var(--ring-color));
  }

}

:is([class*="ring"], [ring]),
.border-base {
  --border-color: rgb(var(--nq-neutral-400));
  --atomic-css-framework: var(var(--un-ring-color), var(--tw-ring-color));
  box-shadow: 0 0 0 1.5px var(--atomic-css-framework, var(--border-color));
}

.border-top {
  --border-color: rgb(var(--nq-neutral-400));
  box-shadow: 0 -1.5px 0 0 var(--border-color);
}

.border-bottom {
  --border-color: rgb(var(--nq-neutral-400));
  box-shadow: 0 1.5px 0 0 var(--border-color);
}

.border-left {
  --border-color: rgb(var(--nq-neutral-400));
  box-shadow: -1.5px 0 0 0 var(--border-color);
}

.border-right {
  --border-color: rgb(var(--nq-neutral-400));
  box-shadow: 1.5px 0 0 0 var(--border-color);
}

.ghost-btn {
  margin-right: 1px;
  margin-bottom: 1px;
  padding: 6px 8px;
  border-radius: 6px;
  font-size: 12px;
  line-height: 1;
  font-weight: 600;
  color: rgb(var(--nq-neutral-700));
  background: inherit;
  transition: 100ms background var(--nq-ease, ease-out);
  --ring-color: rgb(var(--nq-neutral-400));
  box-shadow: 0 0 0 1.5px var(--ring-color);
  height: max-content;

  &:hover {
    background: rgb(var(--nq-neutral-100));
  }

  &:focus-visible {
    outline: 2px solid rgba(var(--nq-blue));
    outline-offset: 3px;
  }
}

.close-btn {
  width: 1em;
  height: 1em;
  background-color: rgb(var(--nq-neutral-300));
  border-radius: 1em;
  transition: 100ms background var(--nq-ease, ease-out);
  position: relative;

  &::after {
    content: '';
    --cross-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 12 12' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m1 1 10 10m0-10L1 11'/%3E%3C/svg%3E");
    -webkit-mask: var(--cross-icon) no-repeat;
    mask: var(--cross-icon) no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    background-color: currentColor;
    color: inherit;
    width: 0.35em;
    height: 0.35em;
    margin: auto;
    display: block;
    position: absolute;
    inset: 0;
    right: -1px;
  }


  &:is(:hover, :focus) {
    background-color: rgb(var(--nq-neutral-400));
  }

  &:focus-visible {
    outline: 2px solid rgba(var(--nq-blue));
    outline-offset: 3px;
  }
}

.switch {
  &:is(input[type="checkbox"]) {
    --active-color: rgb(var(--nq-neutral-300));
    appearance: none;
    font-size: 1em;
    width: 2em;
    aspect-ratio: 1.625;
    border-radius: 2em;
    background: var(--active-color);
    position: relative;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 0.6em;
      width: 0.9em;
      height: 0.9em;
      border: 1px solid rgb(var(--nq-neutral) / 0.02);
      border-radius: 50%;
      background: #ffffff;
      transition: left 100ms ease-out;
      box-shadow: var(--nq-shadow);
    }

    &:checked {
      --active-color: rgb(var(--nq-blue));

      &::before {
        left: 1.4em;
      }
    }

    @media (prefers-reduced-motion) {
      transition-duration: 0s;

      &::before {
        transition-duration: 0s;
      }
    }

    &[disabled] {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }
}

.flex-card {
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  background: rgb(var(--nq-neutral-200));
  display: flex;
  flex-direction: column;
  padding: 12px;
  box-shadow: 0 0 0 1.5px rgb(var(--nq-neutral/2));
  transition: background 0.2s var(--nq-ease), transform 0.2s ease-out, box-shadow 0.2s ease-out, color 0.2s ease-out;
  color: rgb(var(--nq-neutral));

  &:is(a):hover,
  &:is(a):focus-visible {
    background: white;
    transform: translateY(-6px);
    box-shadow: var(--nq-shadow);

    &,
    * {
      color: rgb(var(--nq-darkblue));
    }
  }

  @media (min-width: 768px) {
    padding: 24px;
  }
}

.curtain-y {
    & {
      --mask-size: 2rem;
      mask: linear-gradient(white, transparent) 50% 0 / 100% 0 no-repeat,
        linear-gradient(white, white) 50% 50% / 100% 100% no-repeat,
        linear-gradient(transparent, white) 50% 100% / 100% 100px no-repeat;
      mask-composite: exclude;
      animation: mask-up both linear, mask-down both linear;
      animation-timeline: scroll(self);
      animation-range: 0 var(--mask-size), calc(100% - var(--mask-size)) 100%;
  }
}

@keyframes mask-up {
  100% {
    mask-size: 100% var(--mask-size), 100% 100%, 100% var(--mask-size);
  }
}

@keyframes mask-down {
  100% {
    mask-size: 100% var(--mask-size), 100% 100%, 100% 0;
  }
}
