.prose {
  --n-typography-darkgray: #EAE9EA;
  --n-typography-neutral: #1F2348;
  --n-typography-neutral-10: #e2e3e6;
  --n-typography-neutral-20: #d2d3da;
  --n-typography-neutral-30: #bcbdc8;
  --n-typography-neutral-60: #76798f;
  --n-typography-green: #21bca5;
  --n-typography-blue: #0CA6FE;
}

.dark .prose {
  --n-typography-darkgray: #292b3f;
  --n-typography-neutral: #ffffff;
  --n-typography-neutral-10: #494a5c;
  --n-typography-neutral-20: #494A5C;
  --n-typography-neutral-30: #5F6170;
  --n-typography-neutral-60: #A4A5AD;
  --n-typography-green: #24CCA2;
  --n-typography-blue: #0ca6fe;
}

.prose :not(.not-prose) {
  font-family: Mulish,
    ui-sans-serif,
    system-ui,
    -apple-system;
  text-align: left;
  letter-spacing: 0;
  font-weight: 400;

  padding-bottom: 64px;

  @media (min-width: 769px) {
    padding-bottom: 96px;
  }

  * {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-wrap: pretty;
  }

  >* {
    padding-right: 32px;
    padding-left: 32px;
  }

  *:is(iframe, img, video) {
    @media (max-width: 768px) {
      margin-left: -24px;
      width: min(calc(100% + 48px), 700px);
    }
  }


  &>*:first-child {
    margin-top: 0;
  }

  :is(h1, h2, h3, h4, h5, h6) {
    color: var(--n-typography-neutral);
  }

  * {
    color: var(--n-typography-neutral-60);
  }

  p a {
    color: var(--n-typography-blue);
  }

  blockquote :is(p, p > em) {
    color: var(--n-typography-green);
  }

  figure figcaption {
    color: var(--n-typography-neutral-60);
  }

  code,
  pre {
    background-color: var(--n-typography-darkgray);
  }


  :is(h1, h2, h3, h4, h5, h6) {
    margin: 0;
    font-weight: bold;
    text-wrap: balance;
  }

  h1 {
    margin-top: 144px;
    margin-bottom: 112px;
    font-size: 44px;
    line-height: 53px;

    @media (min-width: 769px) {
      margin-bottom: 120px;
    }

    @media (min-width: 1153px) {
      font-size: 48px;
    }
  }

  h2 {
    margin-top: 88px;
    margin-bottom: 24px;
    font-size: 32px;
    line-height: 42px;

    @media (min-width: 769px) {
      margin-top: 96px;
      font-size: 36px;
      line-height: 47px;
    }

    @media (min-width: 1153px) {
      font-size: 38px;
      line-height: 49px;
    }

    h1+& {
      margin-top: 56px;

      @media (min-width: 1153px) {
        margin-top: 64px;
      }
    }
  }

  h3 {
    margin-top: 88px;
    margin-bottom: 24px;
    font-size: 26px;
    line-height: 34px;

    @media (min-width: 769px) {
      margin-top: 96px;
      font-size: 28px;
      line-height: 36px;
    }

    @media (min-width: 1153px) {
      font-size: 30px;
      line-height: 39px;
    }

    h2+& {
      margin-top: 48px;

      @media (min-width: 1153px) {
        margin-top: 56px;
      }
    }
  }

  h4 {
    margin-top: 88px;
    margin-bottom: 24px;
    font-size: 22px;
    line-height: 29px;

    @media (min-width: 769px) {
      margin-top: 96px;
      font-size: 24px;
      line-height: 31px;
    }

    @media (min-width: 1153px) {
      font-size: 26px;
      line-height: 34px;
    }

    h3+& {
      margin-top: 40px;

      @media (min-width: 1153px) {
        margin-top: 48px;
      }
    }
  }

  p {
    font-size: 16px;
    line-height: 24px;
    margin: 0;

    a {
      text-decoration: none;
      font-weight: 600;
    }

    h1+& {
      margin-top: 112px;

      @media (min-width: 1153px) {
        margin-top: 120px;
      }
    }

    :is(h2, h3)+& {
      margin-top: 32px;
    }
  }

  blockquote {
    margin: 0;

    &:not(figure > &) {
      margin: 24px 0;

      /*
        We add the borders to blockquote if is not a children of figure
        Otherwise, figure will have the borders
      */
      &::after,
      &::before {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: var(--n-typography-neutral-10);
        border-radius: 1px;
      }

      &>* {
        padding: 24px 20px;

        @media (min-width: 769px) {
          padding: 24px 32px;
        }
      }
    }

    p {
      font-size: 21px;
      font-weight: 700;
      line-height: 34px;

      @media (min-width: 769px) {
        font-size: 22px;
        line-height: 35px;
      }

      @media (min-width: 1153px) {
        font-size: 24px;
        line-height: 38px;
      }
    }
  }

  figure {
    margin: 0px;

    figcaption {
      font-size: 14px;
      font-weight: 700;
      line-height: 21px;
    }

    &:has(blockquote) {
      margin: 24px 0;

      &::after,
      &::before {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: var(--n-typography-neutral-10);
        border-radius: 1px;
      }

      blockquote {
        padding: 24px 20px 0 20px;

        @media (min-width: 769px) {
          padding: 24px 32px 0 32px;
        }
      }

      figcaption {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        padding: 24px 20px;
        margin-top: -20px;

        @media (min-width: 769px) {
          padding: 24px 32px;
          margin-top: -24px;
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }

  img {
    border-radius: 6px;
    margin-top: 24px;

    &:has(+ figcaption) {
      margin-bottom: 12px;

      @media (min-width: 321px) {
        margin-bottom: 16px;
      }
    }

    &:not(:has(+ figcaption)) {
      margin-bottom: 24px;
    }
  }

  ul {
    list-style: none;
    padding-left: 16px;

    @media (min-width: 769px) {
      padding-left: 22px;
    }


    li {
      margin: 16px 0;

      &::before {
        content: '';
        width: 6px;
        height: 6px;
        display: inline-block;
        top: -2px;
        position: relative;
        border-radius: 3px;
        background-color: var(--n-typography-neutral-20);
        margin-right: 13px;

        @media (min-width: 769px) {
          margin-right: 16px;
        }
      }
    }
  }


  ol {
    list-style: none;
    counter-reset: item;
    padding-left: 13px;

    @media (min-width: 769px) {
      padding-left: 18px;
    }

    li {
      counter-increment: item;
      margin: 16px 0;

      &::before {
        content: counter(item);
        color: var(--n-typography-neutral-30);
        font-weight: 700;
        display: inline-block;
        margin-right: 12px;

        @media (min-width: 769px) {
          margin-right: 16px;
        }

      }
    }
  }

  code {
    border-radius: 4px;
    font-family: 'Fira Code', monospace;
    line-height: 30px;
    font-size: 16px;

    &:not(pre > &) {
      padding: 0px 8px 1px 8px;
    }
  }

  pre {
    margin-top: 24px;
    padding: 24px;
    border-radius: 6px;
    font-family: 'Fira Code', monospace;
  }

}
