/* layer: default */
.bg-gradient-red-hoverable {
  background-image: radial-gradient(
    at 100% 100%,
    var(--colors-red-gradient-from) 0%,
    var(--colors-red-gradient-to) 100%
  );
  transition:
    --colors-red-gradient-from 300ms ease-in-out,
    --colors-red-gradient-to 300ms ease-in-out;
}
.bg-gradient-red-hoverable:hover,
.bg-gradient-red-hoverable:focus-visible {
  --colors-red-gradient-from: var(--colors-red-gradient-from-darkened);
  --colors-red-gradient-to: var(--colors-red-gradient-to-darkened);
}
@property --colors-red-gradient-from {
  syntax: '<color>';
  inherits: false;
  initial-value: #000;
}
@property --colors-red-gradient-to {
  syntax: '<color>';
  inherits: false;
  initial-value: #000;
}
